---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
  h2 {
    text-align: center;
  }
</style>

<BaseLayout pageTitle="Netlify Forms">
  <main>
    <h2>Submission received!</h2>
  </main>
</BaseLayout>
